<head>

</head>

<html>

<header>
  <nav class="navbar">
    <!-- Logo -->
    <div class="logo">
      <a href="#">
        <img src="img/logo.svg" alt="Logo" class="logo-img">
      </a>
    </div>

    <!-- Links da navegação -->
    <ul class="nav-links">
      <li><a href="#">QUEM SOMOS</a></li>
      <li><a href="#">QUERO SER MEMBRO</a></li>
      <li><a href="#">OFERTAS</a></li>
      <li><a href="#">GRUPO CONEXÃO</a></li>
      <li><a href="#">MINISTÉRIOS</a></li>
      <li><a href="#">FOTOS</a></li>
      <li><a href="#">TESTEMUNHOS</a></li>
      <li><a href="#">INSCRIÇÕES</a></li>
    </ul>
  </nav>
</header>

</html>
